// Author Detail Dropdown
//
// markup:
// <div class="c-author">
// 	<div class="c-author__thumb">
// 		<img class="c-author__headshot" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://placehold.it/92x92" data-srcset="https://placehold.it/92x92 1x, https://placehold.it/184x184 2x" alt="Samantha Longnamerstine">
// 	</div>
// 	<div class="c-author__meta">
// 		<h4 class="c-author__heading t-bold">
// 			<a href="http://variety.com/author/variety-staff/" rel="author" class="c-author__meta-link">
// 				Samantha Longnamerstine
// 			</a>
// 		</h4>
// 		<p class="c-author__role">Reporter</p>
// 		<a class="c-author__twitter t-bold" href="#" target="_blank" rel="noopener noreferrer">
// 			<span class="c-icon c-icon--twitter">
// 				<svg><use xlink:href="#svg-icon-twitter"></use></svg>
// 			</span>
// 			@Samantha
// 		</a>
// 		<a href="#" class="c-btn c-btn--block c-btn--twitter t-bold t-bold--upper" target="_blank" rel="noopener noreferrer">
// 			Follow
// 		</a>
// 	</div>
// 	<h4 class="c-author__heading t-bold">Samantha's Most Recent Stories</h4>
// 	<ul class="c-author__posts t-semibold">
// 		<li class="c-author__post">
// 			<a href="#" class="c-author__meta-link c-author__meta-link--post">
// 				French Comedy 'Lost in Paris' Bought by Oscilloscope
// 			</a>
// 		</li>
// 		<li class="c-author__post">
// 			<a href="#" class="c-author__meta-link c-author__meta-link--post">
// 				Russo Brothers in Talks With Huayi Brothers for Partnership
// 			</a>
// 		</li>
// 		<li class="c-author__post">
// 			<a href="#" class="c-author__meta-link c-author__meta-link--post">
// 				Slamdance unveils competition slate
// 			</a>
// 		</li>
// 	</ul>
// 	<div class="c-author__view-all">
// 		<a href="#" class="c-author__meta-link c-author__meta-link--all t-semibold t-semibold--upper t-semibold--loose">View All</a>
// 	</div>
// </div><!-- .c-author -->
//
// Styleguide 3.2

@include critical( single, country, home, list ) {

	.c-author {
		display: flex;
		flex-flow: row wrap;
		width: 280px;
		padding: 12px 8px 6px;
		border-top: 1px solid $g-color-border;
		background-color: $g-color-white;
		box-shadow: rgba( $g-color-black, 0.5 ) 0 2px 4px;

		&__thumb {
			@extend %flex-center;
			flex: 0 0 auto;
			width: 92px;
			height: 92px;
			overflow: hidden;
			border-radius: 99%;
		}

		&__headshot {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		&__meta {
			flex: 1 1 auto;
			width: calc( 100% - 92px );
			padding: 3px 0 20px 12px;
		}

		&__meta-link {
			color: $g-color-black;

			&:hover {
				color: $g-color-red;
			}

			&--post {
				display: block;
				padding: 10px 0 10px 20px;

				&::before {
					content: '';
					display: inline-block;
					width: 7px;
					height: 7px;
					margin: 0 5px 0 -15px;
					background-color: $g-color-red;
				}
			}

			&--all {
				display: block;
				text-align: right;
				padding: 5px 0;
			}
		}

		&__heading {
			margin-bottom: 5px;
			font-size: 16px;
			line-height: 19px;
			overflow-wrap: break-word;
		}

		&__role {
			font-size: 14px;
			font-style: italic;
			line-height: 16px;
		}

		&__twitter {
			display: flex;
			align-items: flex-start;
			margin-top: 5px;
			margin-bottom: 10px;
			word-break: break-all;
			line-height: 1.2;
			color: $g-color-muted;
			transition: color $g-transition-color;

			&:hover {
				color: $g-color-twitter;
			}

			.c-icon {
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		&__posts {
			flex: 0 0 auto;
			width: 100%;
			list-style: none;
			font-size: 12px;
			line-height: 14px;
		}

		&__post {
			border-top: 1px solid $g-color-border;

			&:first-child {
				margin-top: -6px;
				border-top: none;
			}
		}

		&__view-all {
			flex: 0 0 auto;
			width: 100%;
			font-size: 10px;
			line-height: 12px;
			text-align: right;
		}
	}
}
