// Editors Picks Article Card
//
// markup:
// <article class="c-card c-card--picks">
// 	<a href="#" class="c-card__wrap">
// 		<figure class="c-card__image">
// 			<div class="c-crop c-crop--portrait c-crop--size-1x1">
// 				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
// 					 data-src="https://placehold.it/120x120"
// 					 alt="Post headline"
// 					 class="c-crop__img">
// 			</div>
// 		</figure>
// 		<header class="c-card__header">
// 			<h3 class="c-card__heading t-semibold">
// 				Daily Show's Michelle Wolf to Host White House Correspondents' Dinner
// 			</h3>
// 			<div class="c-card__tag t-semibold t-semibold--upper t-semibold--loose">
// 				<span class="screen-reader-text">Posted in:</span> Features
// 			</div>
// 		</header>
// 	</a>
// </article>
//
// sg-wrapper:
// <div style="max-width:300px;">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 3.8.9

@include critical( single, country, section-front, archive, list ) {

	.c-card {

		&--picks &__wrap {
			flex-direction: row-reverse;
			align-items: center;
			padding: 12px 12px 12px 20px;
			background: none;
			box-shadow: none;
			transition: color $g-transition-color;

			&:focus,
			&:hover {
				color: $g-color-red;
			}
		}

		&--picks &__image {
			width: 120px;
			border-radius: 5px;
			overflow: hidden;
		}

		&--picks &__header {
			flex: 1 0;
			padding-right: 15px;
		}

		&--picks &__heading {
			font-size: 13px;
			line-height: 13px;
		}
	}
}
