// Video Thumb Card
//
// markup:
// <article class="c-card c-card--video-thumb t-semibold">
// 	<a href="#" class="c-card__wrap" data-video-gallery-thumb 
// 		data-tag="Features" 
// 		data-heading="See the Wombats' Cutting, Acoustic Rendition of 'Lemon to a Knife Fight'"
// 		data-lead="Danish singer performs &quot;When I Was Young,&quot; &quot;Run Away,&quot; for Rolling Stone's live series set with js"
// 		data-video-id="pWB5JZRGl0U">
// 		<figure class="c-card__image" data-active-text="Now Playing">
// 			<div class="c-card__badge c-card__badge--play">
// 				<div class="c-badge c-badge--play">
// 					<svg class="c-play-btn c-play-btn--small c-play-btn--thumb" viewBox="0 0 88 88">
// 						<g transform="translate(-.082 -.082)" fill="none" fill-rule="evenodd">
// 							<circle class="c-play-btn__fill" fill="#D32531" stroke="#D32531" stroke-width="4" cx="44" cy="44" r="44" />
// 							<circle class="c-play-btn__border" fill="none" stroke="none" stroke-width=4 cx="44" cy="44" r="44" stroke-dasharray="276" stroke-dashoffset="276" />
// 							<path class="c-play-btn__icon" d="M38.242 28.835c-.634-.467-2.323-.467-2.46 1.298v19.743a.99.99 0 0 0 1.577.796 3.88 3.88 0 0 0 1.577-3.123V33.105l16.008 10.969-18.458 12.61c-.44.3-.703.798-.703 1.331a1.564 1.564 0 0 0 2.46 1.298l20.383-13.941c.528-.317 1.252-1.615 0-2.596l-20.384-13.94z" fill="#FFF"/>
// 						</g>
// 					</svg>
// 				</div>
// 			</div>
// 			<div class="c-crop c-crop--landscape c-crop--size-brand">
// 				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
// 					data-src="https://placehold.it/300x170"
// 					data-srcset="https://placehold.it/300x170 300w, https://placehold.it/450x255 450w, https://placehold.it/350x200 350w, https://placehold.it/210x120 210w"
// 					sizes=""(max-width: 480px) 210px, (max-width: 767px) 350px,(max-width: 959px) 450px, 300px""
// 					alt="Daily Show's Michelle Wolf to Host White House Correspondents' Dinner"
// 					class="c-crop__img">
// 			</div>
// 		</figure>
// 		<header class="c-card__header">
// 			<h3 class="c-card__heading">
// 				See the Wombats' Cutting, Acoustic Rendition of 'Lemon to a Knife Fight'
// 			</h3>
// 		</header>
// 	</a>
// </article>
//
// sg-wrapper:
// <div style="max-width:300px;">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 3.8.12

@include critical( home, video-landing ) {

	.c-card {

		&--video-thumb {
			height: 100%;
		}

		&--video-thumb &__image {
			position: relative;
			border: 1px solid transparent;
			transition: border-color $g-transition-border;
			margin: -1px;

			&::after {
				content: attr(data-active-text);
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: z(hill);
				padding: 5px 10px;
				transform: translate(-50%, -50%);
				color: $g-color-white;
				font-size: 13px;
				line-height: 1;
				white-space: nowrap;
				opacity: 0;
				border: 1px solid $g-color-red;
				transition: opacity $g-transition-fade;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: z(hill);
				width: 100%;
				height: 100%;
				background: rgba($g-color-black, 0.7);
				opacity: 0;
				transition: opacity $g-transition-fade;
				pointer-events: none;
			}
		}

		&--video-thumb:hover &__image,
		&--video-thumb .is-active &__image,
		.is-centered &--video-thumb &__image {
			border-color: $g-color-white;
		}

		&--video-thumb .is-active &__image,
		.is-centered &--video-thumb &__image {
			&::before,
			&::after {
				opacity: 1;
			}
		}

		&--video-thumb &__wrap {
			height: 100%;
		}

		&--video-thumb &__heading {
			margin-top: 10px;
			font-size: 11px;
			line-height: 1;
			color: $g-color-white;

			@media ( query( min, tablet ) ) {
				font-size: 15px;
			}
		}

		&--video-thumb &__badge {
			top: auto;
			left: 0;
			bottom: 0;
			padding: 10px;
			transform: none;
			transition: opacity $g-transition-fade;
		}

		&--video-thumb .is-active &__badge,
		.is-centered &--video-thumb &__badge  {
			opacity: 0;
		}

		&--video-thumb--light &__image {
			&::before {
				border: 2px solid $g-color-red;
			}
		}

		&--video-thumb--light &__heading {
			color: $g-color-black;
		}
	}
}
